{% extends 'base.html' %}

{% block content %}
<div class="ps-5 pe-5" style="margin-top: 70px;text-align: justify;">
	<h5>How to Use SignLink</h5>
	<ol>
		<li><b>Speech Input:</b> To provide input, click the "mic" button and speak clearly in Tamil. The system will capture your speech and convert it into text for translation.</li>
		<li><b>Double Check:</b> You will see the translated text displayed on the screen.</li>
		<li><b>Animation Display:</b> The translated text will then be converted into Indian Sign Language (ISL) animations. These animations will visually represent the meaning and context of your speech.</li>
		<li><b>Interaction:</b> You can interact with the animations to observe the signs and gestures more closely. You can also provide feedback or request clarifications if needed.</li>
		<li><b>Accessibility:</b> If you encounter any accessibility issues or have specific requirements, please let us know. We are committed to ensuring that our platform is accessible to all users.</li>
		<li><b>Privacy and Security:</b> We take your privacy and security seriously. Your data is encrypted and stored securely. We adhere to strict privacy policies to protect your personal information.</li>
		<li><b>Enjoy</b>: We hope you find our platform helpful and enjoyable to use. Thank you for choosing our site, and we look forward to serving you!</li></li>
	</ol>
	<hr>
	<h5>Indian Sign language</h5>
	<p><a href="https://indiansignlanguage.org/">Indiansignlanguage.org</a> offers a huge collection of Indian Sign Language (ISL) signs. Each sign has an image, running video and threaded discussions. It is an ideal resource to use while you learn/teach Indian Sign Language.  Each sign has an image, running video and threaded discussions.  We are continually adding more signs and designing new services to empower the Deaf.
		Please share your ideas and comments and help us make this service better.</p>
	<hr>
	<h5>Our Team</h5>
	<p>Our team is driven by a shared vision to create positive impact and promote inclusivity. We've embarked on a transformative journey to develop a groundbreaking Tamil voice-to-Indian Sign Language (ISL) system, aiming to bridge communication gaps and enhance accessibility. Through collaborative efforts and expertise in various domains, we've crafted a solution that harnesses advanced technologies to facilitate seamless communication for the deaf and hard of hearing community. Our unwavering dedication, creativity, and tireless efforts reflect our commitment to serving the greater good and fostering a more inclusive society. Together, we aspire to leave a lasting impact and inspire positive change through our innovative endeavors.</p>
	<hr>
	<h4 style="text-align: center;">Thank you, For visiting our website</h4>
	<h6 style="text-align: center;">SignLink 1.0.0</h6>
	<h6 style="text-align: right;">Sudharsan D</h6>
</div>
	
{% endblock %}
